* {
  box-sizing: border-box;
}



/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
   
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0  40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */


/* Style the counter cards */
.card {
  height: 400px;
  width: 90%;
  
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  
  background: rgb(22, 22, 22);
  box-shadow: 14px 14px 20px rgb(29, 28, 28),
  -14px -14px 20px rgb(17, 17, 17);
  
}



h2 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(206, 137, 81) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
body{
  background-color: #212426;
  font-family: var(--font-roboto);
}
.header{
  
      padding: 1rem;
    
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #moon{
      display: flex;
      flex-flow: column wrap;
      align-content:flex-end;
      
      width: 40px;
    }
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }